@import '../../assets/styles/colors.scss';
@import '../../assets/styles/tools.scss';
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

:root {
  div.opus-modal-body {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);

    div.opus-modal {
      all: unset;
      @include column(center, center);
      background-color: #ffffff;
      width: 650px;
      height: 400px;
      box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
      border-radius: 8px;
      margin: 10% auto;

      button.opus-modal-icon {
        align-self: flex-end;
        background: none;
        outline: none;
        cursor: pointer;
        box-shadow: none;
        border: none;
        padding: 1rem;
        margin-bottom: 20px;

        svg.opus-modal-icon-close {
          color: #000000;
          max-width: 100%;
          width: 100%;
          height: 40px;

          &:hover {
            background-color: #ffffff;
            transition: background-color 1s, transform 1s;
            transform: scale(1.5);
          }
        }
      }
      form {
        margin-bottom: 40px;
        h4.sub-title {
          font-family: 'Comfortaa';
          font-weight: 400;
          font-size: 16px;
          color: map-get($background, 'sub-title');
          margin-top: 20px;
          align-self: flex-start;

          span {
            color: red;
            font-size: 20px;
            cursor: pointer;
          }
        }
        .sub-title-box {
          background: map-get($background, 'fale-conosco');
          width: 400px;
          height: 40px;
          border: 1px solid rgba(0, 0, 0, 0.6);
          border-radius: 5px;
          text-align: center;
        }
      }
    }
  }
}
