@import '../../assets/styles/colors.scss';
@import '../../assets/styles/tools.scss';
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

:root {
  button.opus-button-login {
    @include column(center, center);
    min-width: 114px;
    background: linear-gradient(
      rgba(31, 76, 235) 20%,
      rgba(32, 96, 238) 40%,
      rgba(34, 168, 249) 80%
    );
    color: map-get($font-color, 'options');
    border-radius: 8px;
    border: none;
    cursor: pointer;
    padding: 12px 10px;
    width: 153px;
    height: 44px;
  }
  span.opus-button-title {
    font-family: 'Arimo';
    font-weight: 600;
    font-size: 16px;
    text-transform: lowercase;
  }
}
