@import '../../assets/styles/colors.scss';
@import '../../assets/styles/tools.scss';
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');

:root {
  div.opus-home-body {
    width: 100%;
    div.opus-home {
      @include row(center, space-between);
      width: 100%;
      height: 900px;
      background: linear-gradient(
        rgba(98, 184, 250) 0%,
        rgba(217, 240, 254) 90%,
        rgba(255, 255, 255) 80%
      );
      div.svg-logo {
        align-self: flex-start;
        svg {
          width: 100%;
          height: 600px;
        }
      }
      h2.opus-home-title {
        margin-right: 900px;
        margin-top: 400px;
        align-self: flex-start;
        font-family: 'Comfortaa';
        font-style: bold;
        font-weight: 400;
        font-size: 20px;
      }
      div.opus-home-button {
        align-self: baseline;
      }
    }
    .vazio {
      width: 100px;
      height: 100px;
      border-radius: 100%;
      background-image: linear-gradient(
        rgba(98, 184, 250) 0%,
        rgba(217, 56, 78) 90%
      );
    }
  }
}
