@import '../../assets/styles/colors.scss';
@import '../../assets/styles/tools.scss';
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

:root {
  div.opus-button-body {
    width: 100%;
    button.opus-button-login {
      @include row(center, center);

      // background: linear-gradient(
      //   rgba(98, 184, 250) 30%,
      //   rgba(217, 240, 254) 90%,
      //   rgba(255, 255, 255) 100%
      // );
      color: map-get($font-color, 'options');
      //border-radius: 8px;
      border: none;
      cursor: pointer;
      padding: 10px 10px;
      width: 100px;
      height: 40px;
    }
    div.opus-button-login-body {
      @include row(center, flex-start);
      h2.opus-button-title {
        font-family: 'Arimo';
        color: black;
        font-weight: 50;
        font-size: 20px;
        text-transform: lowercase;
      }
      svg {
        color: black;
        width: 30%;
        margin-right: 10px;
      }
    }
  }
}
