@import '../../assets/styles/colors.scss';
@import '../../assets/styles/tools.scss';
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');

:root {
  div.opus-data-account-body {
    @include column(center, center);
    width: 100%;
    height: 867px;
    table {
      border-collapse: collapse;
      td {
        font-family: 'Comfortaa';
        width: 200px;
        height: 70px;
        border: 1px dotted;
        text-transform: lowercase;
        text-align: center;
      }
      th {
        font-family: 'Comfortaa';
        border: 1px dotted;
        width: 400px;
        height: 70px;
        text-transform: lowercase;
        text-align: center;
      }
    }
    h1.title {
      font-family: 'Coming Soon';
      font-weight: 400;
      color: map-get($font-color, 'title');
      margin-bottom: 100px;
      text-align: center;
    }
    div.button {
      text-transform: lowercase;
      margin-top: 100px;
    }
  }
}
