@import '../../assets/styles/colors.scss';
@import '../../assets/styles/tools.scss';
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');

:root {
  div.opus-header-body {
    width: 100%;
    position: fixed;
    z-index: 10;

    header.opus-header {
      width: 100%;

      height: 70px;
      @include row(center, space-between);
      border: 0px solid white;
      transition: all ease 0.3s;

      div.svg-logo {
        svg {
          width: 100%;
          height: 60px;
          border: 0px solid white;
        }
      }

      div.opus-header-button {
        @include row(center, center);
        padding: 30px;
        div.opus-header-navLink {
          @include row(center, space-between);
          .nav-link {
            color: black;
            font-family: 'Comfortaa';
            font-weight: 900;
            font-style: bold;
            font-size: 16px;
            text-decoration: none;
            margin-right: 70px;
            opacity: 1;
          }
          :hover {
            background-color: #e63950;
            border-radius: 10px;
            opacity: 0.7;
            padding: 10px;
          }
        }
      }
    }
    header.ativaCor {
      width: 100%;
      height: 70px;
      @include row(center, space-between);
      border: 0px solid white;
      background: linear-gradient(
        rgba(98, 184, 250) 30%,
        rgb(169, 204, 226) 95%,
        rgba(255, 255, 255) 100%
      );

      div.svg-logo {
        svg {
          width: 100%;
          height: 60px;
          border: 0px solid white;
        }
      }

      div.opus-header-button {
        @include row(center, center);
        padding: 30px;
        div.opus-header-navLink {
          @include row(center, space-between);
          .nav-link {
            color: black;
            font-family: 'Comfortaa';
            font-weight: 900;
            font-style: bold;
            font-size: 16px;
            text-decoration: none;
            margin-right: 70px;
            opacity: 1;
          }
          :hover {
            background-color: #e63950;
            border-radius: 10px;
            opacity: 0.7;
            padding: 10px;
          }
        }
      }
    }
  }
}
