$font-color: (
  blue-logo: #22a8f9,
  pink-logo: #d4374a,
  options: #ffffff,
  title: #e8384e,
  sub-title: #000000,
);

$background: (
  footer: #a5a5a5,
  body: #ffffff,
  header-navigation: #22a8f9,
  button: #62b8fa,
  fale-conosco: #f5f0f0,
);
