@import '../../assets/styles/colors.scss';
@import '../../assets/styles/tools.scss';

:root {
  button.opus-button {
    @include column(center, center);
    min-width: 114px;
    cursor: pointer;
    background-color: map-get($background, 'button');
    color: map-get($font-color, 'options');
    width: 120px;
    font-size: 16px;
    font-weight: 500;
    text-transform: lowercase;
    border-radius: 8px;
    border: none;
    padding: 12px 10px;
  }
}
