@import '../../assets/styles/colors.scss';
@import '../../assets/styles/tools.scss';
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

:root {
  div.opus-footer-body {
    width: 100%;

    footer.opus-footer {
      @include row(center, space-between);
      padding: 15px 20px;
      background: map-get($background, 'footer');

      div.opus-footer-instagram {
        @include row(center, center);

        a {
          font-family: 'Arimo';
          font-weight: 400;
          font-size: 18px;
          color: map-get($font-color, 'options');
          text-decoration: none;
        }
        svg {
          margin-right: 15px;
          height: 30px;
        }
      }
      div.opus-footer-email {
        @include row(center, space-between);

        a {
          font-family: 'Arimo';
          font-weight: 400;
          font-size: 18px;
          color: white;
          text-decoration: none;
        }

        svg {
          width: 80px;
          margin-right: 10px;
        }
      }
    }
  }
}
