@import '../../assets/styles/colors.scss';
@import '../../assets/styles/tools.scss';
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

:root {
  div.opus-footer {
    width: 100%;

    footer.opus-footer {
      @include row(center, space-between);
      padding: 15px 20px;
      background: map-get($background, 'footer');

      div.instagram {
        font-family: 'Arimo';
        font-weight: 400;
        font-size: 18px;
        color: map-get($font-color, 'options');
      }
      div.email {
        font-family: 'Arimo';
        font-weight: 400;
        font-size: 18px;
        color: map-get($font-color, 'options');

        .svg {
          height: 15px;
        }
      }
    }
  }
}
